.lixo{
    display: flex;
    height: 100%;
    /* background: #66b57b; */
    width: 20%;
    flex-direction: column;
    background: linear-gradient(to right, rgba(102,181,123,1) 0%, rgb(126, 189, 142) 19%, rgba(102,181,123,1) 42%, rgb(81, 173, 105) 63%, rgb(91, 175, 113) 81%, rgba(76,166,99,1) 100%);
}

.lixo>div{
    width: 99%;
    height: 50%;
    display: inline-block;
    border: 1px solid #cacaca;
}

.lixo>div>div{
    width: 32%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.lixo>div.escura>div>img{
    filter: grayscale(1);
}

@media only screen and (max-width: 910px) {
    .lixo{
        display: none;
    }
}